page-contactus {
    .b{
        text-align: center;
        color: brown;
        background-color: #8d2a9a36;
        
        font-size: 2em;
    }
    .aaa {
        background-image: url('../assets/imgs/a2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
      .a{
        text-align: center;
        background-color: #8d2a9a36;
        font-size: 1.5em;
        color:aqua;
      }
      .card{
        border-radius: 25px;
        border:4px;
        margin-top: 10px;
      } 
}
