page-home {
.logo-style
{
   
   margin: auto;
   height:120px;
   width:150px;
   
}
.my-checkbox {
   display: flex;
   align-items: center;
}
.bottom-div1
{
   height: 50px;
   width: 50px;
   float: left;
   margin-left: 30%;
}
.bottom-div2
{
   height: 45px;
   width: 45px;
   float: right;
   margin-top: .5%;
   margin-right: 30%;
  
}

.button-style2
{
  float: right;
   font-weight: bold;
   
   color:rgb(21, 180, 69); 
}
}
