page-applyleave {
    .custom-here{
        text-align: center;
    }
    button{
    color: brown;
    }

    .aaa {
        background-image: url('../assets/imgs/a2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
}
