page-aboutus {
    .div-style
    {
        padding-inline-start: 10px;
        margin-left: 10px;
        margin-right: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: justify;
        
    }
}

